// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// $primary: #5533ff; // Thats a sample how you could change a BootStrap variable.


// Sistema de color
$primary:   black;
$dark:      #212529;
$azul:      #5663F7;
$verde:     #32FF88;


// Tamaño de fuentes
$tx-xl:     47px;
$tx-lg:     32px;
$tx-md:     24px;
$tx-sm:     18px;

